<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hold Hands</title>
  </head>
  <body>
    <h1>Hold Hands</h1>
    <p>アプリのイントロ的な文章がここに来ます</p>
    <h2>ログイン</h2>
    <h2>新規登録</h2>
  </body>
</html>
