<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hold Hands</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  </head>
  <body class="welcomePage">
    <div class="welcomeTop">
      <h1 class="welcomeTop__title">
        <%= image_tag 'hold-hands-logo.svg' %>
      </h1>
      <p class="welcomeTop__intro">
        ハンドメイド好きの、ハンドメイド好きによる<br>
        ハンドメイド好きのためのサービス
      </p>
    </div>

    <div class="welcomeBtns">
      <span class="welcomeBtns__signUp">
        <%= link_to 'サインアップ', 'signup' %>
      </span>
      <span class="welcomeBtns__logIn">
        <%= link_to 'ログイン', 'login' %>
      </span>
    </div>
  </body>
</html>
