<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hold Hands</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  </head>
  <body class="welcomePage">
    <div class="welcomeTop">
      <h1 class="welcomeTop__title">
        <%= image_tag 'hold-hands-logo.svg' %>
      </h1>
      <p class="welcomeTop__intro">
        Hold Handへ、ようこそ!
        ここでサービスの紹介やら、使いかたを表示させます。
      </p>
    </div>

    <div class="welcomeBtns">
      <span class="welcomeBtns__signUp">
        <%= link_to 'コミュニティを見に行く!', communities_path %>
      </span>
    </div>
  </body>
</html>
