<body class="intro">
  <div class="introTop">
    <h1 class="introTop__title">
      <%= image_tag 'hold-hands2.svg' %>
    </h1>
    <p class="introTop__message">
      手と手が繋がった時<br>
      あなたの「好き」がもっと繋がり<br>
      大きな笑顔の輪が広がる
    </p>
  </div>

  <div class="introBtn">
    <span class="intro__toCommunity">
      <%= link_to 'コミュニティを見に行く!', communities_path %>
    </span>
  </div>
</body>
