<% if @user.errors.any? %>
  <div>
    <ul class="error-message-wrapper">
    <% @user.errors.full_messages.each do |msg| %>
      <li class="error-message"><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
