/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
h1 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

input:focus {
  outline: none;
}

* {
-webkit-appearance: none;
}

// ウェルカム画面
.welcomePage {
  background-image: image-url("top8.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 60%;
  background-attachment: fixed;
  position: relative;
}

.welcomeTop {
  text-align: center;
  margin-top: 110px;
  margin-bottom: 50px;
  @media (min-width: 1024px) {
    margin-top: 20px;
    margin-bottom: 0px;
  }
}

.welcomeTop__title {
  width: 600px;
  display: inline-block;
  margin: 20px;
  @media (min-width: 1024px) {
    width: 300px;
  }
}

.welcomeTop__intro {
  color: #000;
  font-size: 40px;
  line-height: 2;
  // text-shadow: 0px 0px 40px #000;
  @media (min-width: 1024px) {
    font-size: 23px;
    line-height: 1.8;
  }
}

 .welcomeBtns {
   text-align: center;
 }

 .welcomeBtns__signUp {
   background-color: #ff973c;
   width: 700px;
   height: 110px;
   line-height: 110px;
   letter-spacing: 4px;
   border-radius: 5px;
   display: block;
   margin: 0 auto;
   font-size: 48px;
   margin-bottom: 45px;
   @media (min-width: 1024px) {
     width: 240px;
     height: 50px;
     font-size: 20px;
     line-height: 50px;
     margin-bottom: 20px;
     a:hover {
       background-color: #df8434;
       border-radius: 5px;
     }
   }
   a {
     display: block;
     text-decoration: none;
     color: #fff;
   }
 }

 .welcomeBtns__logIn {
   background-color: #fff;
   width: 700px;
   height: 110px;
   line-height: 110px;
   letter-spacing: 4px;
   border-radius: 5px;
   display: block;
   margin: 0 auto;
   font-size: 48px;
   @media (min-width: 1024px) {
     width: 240px;
     height: 50px;
     font-size: 20px;
     line-height: 50px;
     a:hover {
       background-color: #cfcfcf;
       border-radius: 5px;
     }
   }
   a {
     display: block;
     text-decoration: none;
     color: #5c5c5c;
   }
 }
