// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// サインアップ画面
.signupPage__inputs {
  list-style: none;
  margin: 0 auto;
  text-align: center;
 }

.signupPage__inside {
  width: 670px;
  height: 100px;
  font-size: 25px;
  padding-left: 37px;
  border-style: none;
  @media (min-width: 1024px){
    width: 350px;
    height: 50px;
    font-size: 14px;
  }
}

.signupPage__inside--email {
  border-radius: 5px 5px 0 0;
  border-bottom: 4.5px solid #c9c9c9;
  margin-bottom: -1.5px;
  @media (min-width: 1024px) {
    border-bottom: 3.5px solid #c9c9c9;
  }
}

.signupPage__inside--password {
  border-bottom: 4.5px solid #c9c9c9;
  margin-bottom: -1.5px;
  @media (min-width: 1024px) {
    border-bottom: 3.5px solid #c9c9c9;
  }
}

.signupPage__inside--name {
  border-radius: 0 0 5px 5px;
}

.signupBtn {
  margin: 0 auto;
  font-size: 40px;
  width: 706px;
  border-style: none;
  background-color: #ff973c;
  color: #fff;
  height: 110px;
  margin-top: 50px;
  border-radius: 5px;
  cursor: pointer;
  @media (min-width: 1024px) {
    font-size: 20px;
    width: 385px;
    height: 55px;
    margin-top: 25px;
  }
}
.signupBtn:hover {
  background: #df8434;
}

// プロフィール入力画面
.profileForm {
  background-color: #ff8372;
}

.profileForm__lists {
  margin: 0 auto;
  width: 820px;
  @media (min-width: 1024px) {
    width: 410px;
  }
}

.profileForm__list {
  text-align: center;
  margin-top: 40px;
  color: #fff;
  font-size: 21px;
  // なぜか少し右にずれるので
  margin-left: -2px;
  @media (min-width: 1024px) {
    margin-top: 15px;
  }
}

label.pic-choose-label {
  cursor: pointer;
  display: block;
  margin: 70px auto 160px;
  width: 300px;
  height: 300px;
  background-color: #ff8372;
  border-radius: 170px;
  border: 3px solid #fff;
  font-size: 150px;
  text-align: center;
  line-height: 270px;
  color: #fff;
  @media (min-width: 1024px) {
    width: 170px;
    height: 170px;
    line-height: 150px;
    font-size: 100px;
    margin-bottom: 80px;
  }
  > span {
    height: 20px;
    font-size: 30px;
    display: block;
    margin-top: -70px;
    @media (min-width: 1024px) {
      font-size: 15px;
      margin-top: -40px;
    }
  }
}

.plus-svg {
  height: 140px;
  padding-top: 75px;
  @media (min-width: 1024px) {
    height: 80px;
    padding-top: 48px;
  }
}

.pic-choose {
  display: none;
}

.profileForm__textFieldTitle {
  font-size: 30px;
  width: 800px;
  display: inline-flex;
  @media (min-width: 1024px) {
    width: 400px;
    font-size: 15px;
    margin-left: -15px;
  }
}

.profileForm__textField {
  display: block;
  margin: 0 auto;
  width: 800px;
  height: 90px;
  font-size: 28px;
  padding-left: 20px;
  border-radius: 5px;
  border-style: none;
  margin-top: 10px;
  @media (min-width: 1024px) {
    width: 400px;
    height: 40px;
    margin-top: 0;
    font-size: 14px;
    padding-left: 10px;
  }
}

.profileForm__snsP {
  color: #fff;
  font-size: 25px;
  margin-top: 60px;
  @media (min-width: 1024px) {
    font-size: 12px;
    margin-top: 30px;
  }
}

.profileForm__snsLists {
  display: flex;
  flex-wrap: wrap;
  @media (min-width: 1024px) {
    margin-top: 15px;
  }
}

.profileForm__snsList {
  margin-right: 45px;
  @media (min-width: 1024px) {
    margin-right: 18px;
  }
}

.profileForm__snsListB {
  margin-bottom: 30px;
}

.profileForm__sns {
  color: #fff;
  font-size: 30px;
  @media (min-width: 1024px) {
    font-size: 15px;
  }
}

.profileForm__snsTextField {
  display: block;
  padding-left: 20px;
  width: 365px;
  height: 80px;
  border-radius: 5px;
  border-style: none;
  margin-top: 10px;
  font-size: 28px;
  @media (min-width: 1024px) {
    width: 185px;
    height: 37px;
    font-size: 14px;
    margin-top: 5px;
    padding-left: 10px;
  }
}

.profileForm__textField--intro {
  height: 270px;
  font-size: 13px;
  padding: 20px;
  line-height: 1.4;
  @media (min-width: 1024px) {
    width: 390px;
    height: 120px;
    padding: 10px;
  }
}

.profileForm__submit {
  background-color: #6073ff;
  height: 100px;
  width: 840px;
  font-size: 34px;
  color: #fff;
  letter-spacing: 10px;
  margin-top: 60px;
  margin-bottom: 80px;
  border-radius: 5px;
  border-style: none;
  @media (min-width: 1024px) {
    height: 50px;
    width: 410px;
    font-size: 17px;
    letter-spacing: 5px;
    margin-top: 40px;
    margin-bottom: 60px;
    cursor: pointer;
  }
}
.profileForm__submit:hover {
  background-color: #5465e0;
}
