// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// サインアップ画面
.signupPage__inputs {
  list-style: none;
  margin: 0 auto;
  text-align: center;
 }

.signupPage__inside {
  width: 670px;
  height: 100px;
  font-size: 25px;
  padding-left: 37px;
  border-style: none;
  @media (min-width: 1024px){
    width: 350px;
    height: 50px;
    font-size: 14px;
  }
}

.signupPage__inside--email {
  border-radius: 5px 5px 0 0;
  border-bottom: 4.5px solid #c9c9c9;
  margin-bottom: -1.5px;
  @media (min-width: 1024px) {
    border-bottom: 3.5px solid #c9c9c9;
  }
}

.signupPage__inside--password {
  border-bottom: 4.5px solid #c9c9c9;
  margin-bottom: -1.5px;
  @media (min-width: 1024px) {
    border-bottom: 3.5px solid #c9c9c9;
  }
}

.signupPage__inside--name {
  border-radius: 0 0 5px 5px;
}

.signupBtn {
  margin: 0 auto;
  font-size: 40px;
  width: 706px;
  border-style: none;
  background-color: #ff973c;
  color: #fff;
  height: 110px;
  margin-top: 50px;
  border-radius: 5px;
  cursor: pointer;
  @media (min-width: 1024px) {
    font-size: 20px;
    width: 385px;
    height: 55px;
    margin-top: 25px;
  }
}
