<% provide(:title,@community.name) %>

<p>写真的な何かがある</p>

<h2>コミュニティ名:<%= @community.name %> </h2>

<h2>設立者</h2>
<p><%= @community.user.name %><p>

<h2>このコミュニティについて</h2>
<p><%= @community.content %></p>


<h2>開催イベント</h2>
